nb-tabset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep ngx-tab1,
:host ::ng-deep ngx-tab2 {
  display: block;
  padding: 1rem 2rem;
}

.my-post img {
  max-width: 100% !important;
}

.my-post div img {
  max-width: 100% !important;
}

.my-post div p img {
  max-width: 100% !important;
}

.my-post pre {
  background: #EBE6C4;
}

img {
  max-width: 100% !important;
}
