<div class="row">
  <div class="col-12">
    <nb-card style="height: auto;">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="مطلب">
          <div *ngIf="item && item.Body">
            <div [innerHTML]="item.Body" class="my-post"></div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="نظرات">
          <div *ngIf="item && item.Comments?.Comment">
            <div *ngFor="let com of item.Comments.Comment">
              <div [innerHTML]="com"></div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="تگ ها">
          <div *ngIf="item && item.Tags?.Tag">
            <span *ngFor="let tag of item.Tags.Tag">
             <button (nbTooltip)="tag.Name" nbTooltipPlacement="top" nbTooltipStatus="primary"
               nbButton style="margin-left: 8px;">{{tag.Name}}</button>
            </span>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
